body{
    margin: 0;
    background-color: #282D33;
    font-family: 'Inter', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    background: #21222A;
    color: white;
    padding-right: 15px;
}

.header__name {
    color: #61DAFB;
}

.header__project {
    margin-left: auto;
    color: #DEEBF8;
}

.main{
    color: white;
    padding: 2%;
}

.main__fact > li {
    line-height: 38px;
}

.main__fact > li::marker{
    color: #61DAFB;
    font-size: 22px;
}